<div [formGroup]="form">
	<div formArrayName="userAddresses">
		<div *ngFor="let row of form.get('userAddresses')['controls']; let i=index;" [formGroup]='row'>
			<h3>Adress:</h3>
			<label>Street:</label>
			<input type="text" name="street" formControlName="street">
			<div *ngIf=" row.get('street').invalid && (row.get('street').touched || row.get('street').dirty )" class="errors">
				<div *ngIf="row.get('street').errors.pattern">street should contain alphabets, numbers and &,+, -,# only.</div>
				<div *ngIf="row.get('street').errors.required">This field is required.</div>
				<div *ngIf="row.get('street').errors.minlength || row.get('street').errors.maxlength">Street should contain 4 to 20 characters.</div>
			</div>
			<label>Pin code:</label>
			<input type="text" name="pin" formControlName="pin">
			<div *ngIf=" row.get('pin').invalid && (row.get('pin').touched || row.get('pin').dirty )" class="errors">
				<div *ngIf="row.get('pin').errors.pattern">pin should contain numbers only.</div>
				<div *ngIf="row.get('pin').errors.required">This field is required.</div>
				<div *ngIf="row.get('pin').errors.minlength || row.get('pin').errors.maxlength">Pin should contain 6 characters.</div>
			</div>
			<label>City:</label>
			<input type="text" name="city" formControlName="city">
			<div *ngIf=" row.get('city').invalid && (row.get('city').touched || row.get('city').dirty )" class="errors">
				<div *ngIf="row.get('city').errors.pattern">city should contain alphabets only.</div>
				<div *ngIf="row.get('city').errors.required">This field is required.</div>
				<div *ngIf="row.get('city').errors.minlength || row.get('city').errors.maxlength">City should contain 4 to 20 characters.</div>
			</div>
			<label>State:</label>
			<input type="text" name="state" formControlName="state" maxlength="20">
			<div *ngIf=" row.get('state').invalid && (row.get('state').touched || row.get('state').dirty )" class="errors">
				<div *ngIf="row.get('state').errors.pattern">state should contain alphabets only.</div>
				<div *ngIf="row.get('state').errors.required">This field is required.</div>
				<div *ngIf="row.get('state').errors.minlength || row.get('state').errors.maxlength">State should contain 4 to 20 characters.</div>
			</div>
			<button type="button" (click)='isValid()'>Add to profile</button>
			<button type="button" (click)='removeAddress(i)'>Remove</button>
	    </div>
	    <button type="button" (click)='addAddress()'>Add new Address</button>
    </div>
</div>
