<h2>Creat your profile</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form">
	<div class="personal-details">
		<label>First Name:</label>
			<input type="text" name="firstName" formControlName="firstName">
		<div *ngIf="profileForm.get('firstName').invalid && (profileForm.get('firstName').touched || profileForm.get('firstName').dirty)" class="errors">
	        <div *ngIf="profileForm.get('firstName').errors.required">First name is required.</div>
	        <div *ngIf="profileForm.get('firstName').errors.pattern">Please, Enter a valide first name containing alphabets only.</div>
	        <div *ngIf="profileForm.get('firstName').errors.minlength">Name should have 4 to 20 characters</div>
	    </div>
		<label>Last Name:</label>
		<input type="text" name="lastName" formControlName="lastName">
		<div *ngIf="profileForm.get('lastName').invalid && (profileForm.get('lastName').touched || profileForm.get('lastName').dirty)" class="errors">
	        <div *ngIf="profileForm.get('lastName').errors.required">Last name is required.</div>
	        <div *ngIf="profileForm.get('lastName').errors.pattern">Please, Enter a valid last name containing alphabets only.</div>
	        <div *ngIf="profileForm.get('lastName').errors.minlength">Name should have 4 to 20 characters</div>
	    </div>
	</div>
	<app-address [form]="profileForm"></app-address>
	<p>Form status: Form Value: {{ profileForm.value | json }}</p>
	<button type="Submit" [disabled]="!profileForm.valid">Submit</button>
</form>
